* {
	padding: 0;
	margin: 0;
}

html {
	background: #fff url(../images/orchestraback.jpg) repeat-x;
}

body {
	font: 62.5%/1.5 Arial, Hevetica, sans-sarif;
}

header {
	height: 150px;
	display: block;
	background-color: black;
}

#wrapper {
	background-color: #CCC;
	margin: 0 auto;
	width: 960px;
	opacity: 0.98;
	
}

footer {
	background-color: #000;
}

footer p {
	font-size: 1.4em;
	text-align: center;
	padding: 10px 0;
	color: #fff;
}

a {
	color: #1284BA;
	text-decoration: none;
}

.content {
	/*background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#ccc));
		background: -moz-linear-gradient(top,  #000,  #ccc);*/
	background-color: #FFF;
	position: relative;
}

header h1 {
	color: #FFF;
}

header h1 a:hover {
	color: blue;
}

#navBox {
	display: block;
	background-color: #000;
	height: 36px;
}

#nav {

	list-style-type: none;
	list-style-position: inside;
	text-align: center;
}

#nav li {
	float: left;
	display: inline;
	font-size: 2em;
}

#nav li a {
	padding: 10px;
	margin-left: 6px;
	color: white;
	border-radius: 35px;
	transition: background-color 0.1s, box-shadow 0.25s;
	-moz-transition: background-color 0.1s, box-shadow 0.25s; /* Firefox 4 */
	-webkit-transition: background-color 0.1s, box-shadow 0.5s; /* Safari and Chrome */
	-o-transition: background-color 0.1s, box-shadow 0.25s; /* Opera */
}

#nav li a:hover {
	background-color: #005ba5;
	color: white;
	text-decoration: none;
	border-radius: 35px;
	/*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);

}

#nav #active a {
	background-color: #005ba5;
	color: white;
	text-decoration: none;
	border-radius: 35px;
}

#director {
	float: right;
	height: 144px;
}

#directorDescription {
	float: right;
	text-align: right;
	padding: 5px 10px 0 0;
	font: 62.5%/1.5 Arial, Hevetica, sans-sarif;
	font-size: 1.0em;
	font-weight: bold;
}

#text {
	float: left;
	padding: 10px;
	font-size: 20px;
}

#wrapper2 {

	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#ccc));
	background: -moz-linear-gradient(top,  #000,  #ccc);
}

#staff {
	list-style-type: none;	
	display: inline;

}

.hover-highlight {
	float: left;
	margin: 20px;
	opacity: 0.8;
	border: 10px solid #fff;
	font-size: 100px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
	width: 150px;
	height: 150px;
	background-color: black;
	color: #005BA5;
 
	/*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
}
 
.hover-highlight:hover {
	margin-top: 2px;
	opacity: 1;

	/*Glow*/
	-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.9);
	-moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.9);
	box-shadow: 0px 0px 20px rgba(255,255,255,0.9);
}

.staffPicture:hover {
	
	/*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  
  /*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
  
}

#material {
	list-style-type: none;	
	padding: 0px 40px;
}

#indexContent {
	height: 500px;
}

/* HOME */

.index_text-box
{
	background-color: rgba(220,220,255,0.8);
	padding: 3px;
	box-shadow: 0px 0px 8px 3px  #000;
	text-align: justify;
	font-size: 20px;
	text-shadow: 1px 1px 1px white;
	width: 100%;
}

.page-title
{
	background-color: black;
	padding: 8px 0;
	box-shadow: inset 0px 0px 10px 2px white;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px 5px #005BA5;
	width: 100%;
	color: white;
	font-weight: bold;
}
/* ABOUT */
#about_season-info p
{
	color: #000;
	font-size: 20px;
	text-align: center;
}

#about_season-info a
{
	color: #005BA5;
	font-weight: bold;
}

#about_choose-life
{
	font-size:20px;
	padding:8px;
}

#about_thank-you
{
	font-size: 20px;
}

/* SEASON */
#season_content
{
	text-align: center;
}

.season_event
{
	border-bottom: 1px solid white;
	background-color: silver;
}

.season_event-title
{
	color: white;
	font-size: 35px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	box-shadow: inset 0px 0px 11px 4px #1284BA;
}

.season_event-link
{
	position: relative;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: silver;
	font-size: 20px;
	padding: 3px 0;
	cursor: default;
	width: 100%;
	text-align: center;
	background-color: #000;
	color: white;
}

.season_event-link:hover
{
	background-color: #1284BA;
	color: #FFF;
}

.season_event-description
{
	font-size: 20px;
	background-color: #999;
}

/* EVENTS */
#events_content
{
	background-image: url(../images/events.png);
	height: 843px;
	width: 712px;
	margin: 25px;
	left: 105px;
	position: relative;
}

/* TICKETS */
#tickets_heading
{
	color: white;
	text-align: center;
	font-size: 25px;
}
#tickets_subscriber-info
{
	font-size: 17px;
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid #000;
	border-radius: 4px;
	background-color: silver;
	text-align: center;
}
#tickets_subscriber-info ul
{
	list-style-type: none;
}
.zebra-even
{
	background-color: #333;
	color: silver;
}
#tickets_info
{
	text-align: center;
	font-size: 14px;
}

#tickets_single-tickets
{
	font-size: 25px;
	text-align: center;
}

/* YOUTH */

#youth_content
{
	border: 2px solid #555;
	border-radius: 5px;
	width: 100%;
	background: silver;
	text-align: justify;
	font-size: 20px;

}

/* DONATE */
#donate_info
{
	font-size: 20px;
	text-align: justify;
	padding: 8px;
}

#donate_links
{
	font-size: 25px;
	padding: 8px;
	text-align: center;
}
/* STAFF */
.staff_name-link
{
	position: relative;
	border: 1px solid white;
	background-color: silver;
	font-size: 20px;
	padding: 3px 0;
	cursor: default;
	width: 100%;
	text-align: center;
}

.staff_name-link:hover
{
	background-color: #1284BA;
	color: #FFF;
}

#staff_name-link-container
{
	position: relative;
}
.staff_member
{
	border: 2px solid #555;
	border-radius: 5px;
	width: 100%;
	background: silver;
}

.staff_member-title
{
	text-align: center;
	color: #1284BA;
	font-size: 25px;
}

.staff_member-bio
{
	text-align: justify;
	font-size: 20px;
	padding: 10px;
}

.staff_member-picture
{
	height: 137px;
	width: 140px;
	margin-left:auto;
	margin-right: auto;
}

/* OTHER */
#other_content
{
	padding: 20px;
	text-align: justify;
	font-size: 15px;
}

.other_note-link
{
	position: relative;
	border: 1px solid white;
	background-color: silver;
	font-size: 20px;
	padding: 3px 0;
	cursor: default;
	width: 100%;
	text-align: center;
}

.other_note-link:hover
{
	background-color: #1284BA;
	color: #FFF;
}

#other_dave-clementson-description
{
	padding:20px;
	font-size:15px;
}

#other_newsletter-content
{
	font-size:20px;
	padding:15px;
}